{% set page.title = "Tag: " + page.title %}
{% extends 'default.html' %}
{% block content %}
    <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
    <div class="mdl-cell mdl-cell--8-col">
        {% for post in site.posts %}
            {% for tag in post.tags %}
                {% if tag == page.tag %}
                    <div class="page-content mdl-color--white mdl-shadow--4dp mdl-cell mdl-cell--12-col">
                        <h2>{{post.title}}</h2>
                        <div class="mdl-color-text--grey-700 meta">
                            <span>{{ post.date|date('Y-m-d') }}</span>
                            <div class="section-spacer"></div>
                            {% for tag in post.tags %}
                                <a class="tag" href="/tag/{{tag}}.html">{{tag}}</a>
                            {% endfor %}
                        </div>
                        <p>
                            {{ post.summary|safe }}
                        </p>
                        <p>
                            <a href="{{ post.url }}" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">read more</a>
                        </p>
                        <div class="clearfix"></div>
                    </div>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </div>
{% endblock %}
